/dts-v1/;

/ {
	chosen {
		fwupd {
			firmware {
				compatible = "fwupd,simple";
				cur-version = "1.2.3";
				bootloader-version = "2022.01";
				storage = "/tmp/testfw";
				image-start = <0x0>;
				image-size = <0x100000>;
				skip-offset = <0x8000>;
			};
		};
	};
};
